name: Build and Zip

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Install other dependencies
        run: npm ci

      - name: Install bestzip
        run: npm install --save-dev bestzip

      - name: Build
        run: npm run build

      - name: Zip build directory
        run: npm run zip

      - name: Upload build zip
        uses: actions/upload-artifact@v2
        with:
          name: hours-client-html
          path: ./hours-client-html.zip